<!DOCTYPE html>
<html>
<head>
	<title>Cards</title>
	<script src="./cards.js?ver=1.0.0"></script>
	<script src="./components/Konva/konva.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./cards.css">
	<link rel="stylesheet" type="text/css" href="./components/Bootstrap/bootstrap.min.css">
</head>
<body>
	<div class="row ml-4 mr-4">
		<h4>Your Business Card</h4>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body">
						<div id="card-designer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<div class="row footer-fixed footer-bg">
			<div class="col-lg-3">
				<div class="form-group m-1">
					<input type="file" class="form-control-file" id="bg-image-input" accept="image/*" style="display: none;">
					<button class="btn btn-primary" id="bg-image-button" style="width: 100%">Add Image</button>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group m-1">
					<input type="color" class="form-control" id="bg-color-picker" value="#FFFFFF" style="display: none;">
					<button class="btn btn-primary" id="bg-color-button" style="width: 100%">Background</button>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group m-1">
					<button class="btn btn-success" id="download-button" style="width: 100%">Download Card</button>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="input-group m-1">
					<input type="text" class="form-control" id="custom-text-input" placeholder="Enter text">
					<div class="input-group-text" id="add-text-button">Add Text</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./components/Bootstrap/bootstrap.bundle.min.js"></script>
	<script>
		document.getElementById("bg-image-button").addEventListener("click", function() {
			document.getElementById("bg-image-input").click();
		});

		document.getElementById("bg-color-button").addEventListener("click", function() {
			document.getElementById("bg-color-picker").click();
		});
	</script>
</body>
</html>